{% extends "Base.html"%}
{% block title%}About
{% endblock title%}
{% block body %}
<div class="container"
  
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-pink">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Welcome to Books paradise📚</h1>
        <p class="lead my-3"></p>At Books paradise, we believe that every book has a story worth sharing and every reader deserves a journey of discovery. Our mission is to connect book lovers with the stories they crave, from timeless classics to the latest bestsellers.<p/>
        {% comment %} <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> {% endcomment %}
      </div>
    </div>
  
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Our Story</strong>
            {% comment %} <h3 class="mb-0">Featured post</h3> {% endcomment %}
            <div class="mb-1 text-muted">4 sept 2022</div>
            <p class="card-text mb-auto">Books paradise began with a simple passion: a love for reading and a desire to create a community where book enthusiasts can find their next great read. What started as a small project has grown into a thriving platform where readers from all walks of life can explore a diverse range of genres and authors.</p>
            {% comment %} <a href="#" class="stretched-link">Continue reading</a> {% endcomment %}
            <img src="static/ab4.jpg" class="d-block w-100" alt="..." style="height:223px;
            width:250px;">
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="static/ab1.jpg" class="d-block w-100" alt="..." style="height:200px;
            width:200px;">
            {% comment %} <svg class="bd-placeholder-img" width="200" height="250" xmlns="/static/j1.jfif" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">About Us</strong>
            {% comment %} <h3 class="mb-0">Post title</h3> {% endcomment %}
            {% comment %} <div class="mb-1 text-muted">Nov 11</div> {% endcomment %}
            <p class="mb-auto">Welcome to Book Haven—your ultimate destination for discovering exceptional books and engaging with a vibrant community of readers.

              At Book Haven, our mission is to connect you with books that inspire, entertain, and educate. We pride ourselves on offering a carefully curated selection of literature, from timeless classics to contemporary hits, ensuring every reader finds something they love. </p>
            {% comment %} <a href="#" class="stretched-link">Continue reading</a> {% endcomment %}
        
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="static/ab2.jpg" class="d-block w-100" alt="..." style="height:250px;
            width:250px;">
            <p>    </p>
            <img src="static/ab3.jpg" class="d-block w-100" alt="..." style="height:250px;
            width:250px;">
          </div>
        </div>
      </div>
    </div>
  
    <div class="row g-5">
      <div class="col-md-8">
        <h5 class="pb-4 mb-4 fst-italic border-bottom">
            <p>Whether you’re a lifelong reader or just starting your literary adventure, Books paradise is here to help you discover your next great read. Follow us on social media, sign up for our newsletter, and become a part of our book-loving community.</p>
            Thank you for visiting Books paradise. We look forward to sharing the joy of reading with you!
        </h5>
  
        
  
  <footer class="blog-footer">
     <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
{% endblock body %}